{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Steganography App{% endblock %}</title>
    {% comment %} {% load unicorn %}
    {% unicorn_scripts %} <!-- Ensure this line is included -->
    <!-- Bootstrap CSS --> {% endcomment %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    {% comment %} <link href="{% static 'css/styles.css' %}" rel="stylesheet"> {% endcomment %}
    
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'text_encode' %}">Steganography App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse dropdown-center mx-3" id="navbarNav">
            <ul class="navbar-nav ml-auto"> <!-- Align items to the right -->
                <li class="nav-item dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLinkText" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Text
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkText">
                        <a class="dropdown-item" href="{% url 'text_encode' %}">Encode</a>
                        <a class="dropdown-item" href="{% url 'text_decode' %}">Decode</a>
                    </div>
                </li>
                <li class="nav-item dropdown mx-1">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLinkFile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkFile">
                        <a class="dropdown-item" href="{% url 'file_encode' %}">Encode</a>
                        <a class="dropdown-item" href="{% url 'file_decode' %}">Decode</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    
    
    <!-- Main Content -->
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
    
    <!-- Footer -->
    <footer class="bg-light text-center py-3 mt-5">
        <p>&copy; 2024 Steganography App. All rights reserved.</p>
    </footer>
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>
