{% extends 'layouts/base.html' %}

{% block content %}
<div unicorn:view="EncodeComponentView">
    {% csrf_token %}
        <div class="form-group">
            <label for="message">Message to hide:</label>
            <input unicorn:model="message" class="form-control" type="text" id="message" /><br />
        </div>

        <div class="form-group">
            <label for="cover_image">Select a cover image:</label>
            <input unicorn:model="file" type="file" id="cover_image" unicorn:model="cover_image" class="form-control"/>
        </div>

        <button unicorn:click='encode' class="btn btn-primary form-control">Encode</button>
    </form>

    {% if stego_image_url %}
        <div class="alert alert-success mt-4">
            Stego image created! <a href="{{ stego_image_url.url }}" class="alert-link" download>Download the image</a>
        </div>
    {% endif %}
</div>
{% endblock %}
